<% provide(:title, "About") %>
<h1>About</h1>
<p>
  MySportsPicks is a platform that allows users to make predictions about players and teams,
  track them throughout the season, and compare them with others.<br><br>
  This web application was created using Michael Hartl's Ruby on Rails Tutorial: Learn
  Web Development with Rails. <a href ="https://www.railstutorial.org/book/">
    https://www.railstutorial.org/book/</a>
</p>
