<% provide(:title, "About") %>
<h1>About</h1>
<p>
  MySportsPicks is a platform that allows users to make predictions about NBA players and
  track them throughout the season. Users can also create
  groups to discuss and compare their picks with others.<br><br>
  This web application was created by a group of students in SFU's CMPT 276 class
  during the Fall 2017 semester. Group members included Zully Comas Betancourt,
  Bryce Chutskoff, Phillip Fong, Scott Hind, and Andrea Renney. It was created
  using Michael Hartl's Ruby on Rails Tutorial: Learn Web Development with Rails,
  available here:
  <a href ="https://www.railstutorial.org/book/">
    https://www.railstutorial.org/book/</a>

</p>
