<% provide(:title, "About") %>
<h1>About</h1>
<p>
  MySportsPicks is a platform that allows users to make predictions about players and teams, track them throughout the season, and compare them with others.
</p>
