<h4> Group: <%= @group.name %> </h4>

<h2> Members </h2>
<ul class= "users">
<% @group.users.each do |t| %>
<li><%= link_to t.name, user_path(t) %> </li>
<% end %>
</ul>

<%if @group.users.exists?(current_user.id) %>
  <%= link_to "Leave this Group", group_leave_path(@group) %>
 <% else %>
  <%= link_to "Join this group", group_join_path(@group) %>
<% end %>
