<h4> Group: <%= @group.name %> </h4>

<h2> Members </h2>
<ul class= "users">
<% @group.users.each do |t| %>
<li><%= link_to t.name, user_path(t) %> </li>
<% end %>
</ul>

<%= link_to "Join this group", group_join_path(@group) %>
