<!--
Had to rename this file to _error_messages.html.erb (i.e. had to add an
underscore to the beginning) in order for line 7 in views>users>edit.html.erb to
work. Seems partials (like this) need to be named in this way w/ a leading underscore
-->
<!-- will accept users or microposts if written as object.errors.any-->
<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
