<footer class="footer">
  <small>
    <p>
      Adapted from <a href ="https://www.railstutorial.org/book/">
        https://www.railstutorial.org/book/</a>
    </p>

  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= social_share_button_tag("Made a new pick of which player I think will win a NBA Award in this website", :url => "https://mysportspicks.herokuapp.com/")  %></li>
    </ul>
  </nav>
</footer>
