<footer class="footer">
  <small>
    <p>
      Adapted from <a href ="https://www.railstutorial.org/book/">
        https://www.railstutorial.org/book/</a>
    </p>

  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    
    </ul>
  </nav>
</footer>
